@model Estoque_Pessoal.Models.EstoqueItem

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você quer retirar esse produto da sua lista?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Item.Nome)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Nome)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar aos meus produtos", "Index" ,"EstoqueItens", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
