@model IEnumerable<Estoque_Pessoal.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de produtos</h2>
<p class="text-danger">Esse itens estarão disponiveis para visualização para todos os usuários!</p>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Adicionar ao meu estoque", "AdicionarItemEstoque", new { id = item.Id })
        </td>
    </tr>
}

</table>
