<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid  col-xs-12 col-sm-8 col-lg-8">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                   @Html.ActionLink("Meu estoque", "Index", "Estoques", null, new { @class = "navbar-brand" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Itens cadastrados", "Index", "Itens", null, new { @class = "navbar-brand" })
                    
                </li>
                <li>
                    @Html.ActionLink("Meu cadastro", "Edit", "Clientes", null, new { @class = "navbar-brand" })
                </li>
                <li>
                    @Html.ActionLink("Sair", "Logoff", "Clientes", null, new { @class = "navbar-brand" })
                </li>
                <li style="padding-left:250px;">
                    Bem vindo, @User.Identity.Name
                </li>
                   
                </ul>
</div>
    </nav>
       
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">&copy; @DateTime.Now.Year - Meu Estoque</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
